*{
    font-family: Open Sans;
    margin:0;
    padding:0;
}
.Logo{
    margin-top:17px;
    margin-left: 27px;
    width:214px;
    height:55px;
    background-image:url(../images/logo.png);
    background-size:214px 55px;
}
.li-img {
    background-image: url(../images/icons/search.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    width:18px;
    height:18px;
    margin-left:15px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.menu {
    display: flex;
    margin-top: 9px;
    margin-right: 17px;
    align-items: center;
}
li {
    list-style-type: none; /* Убираем маркеры */
    padding-left: 10px;
    padding-right:10px;
    border-right: 1px solid black;
    font-size: 18px;
    }

.li-select_lang{
    
    border-right:none;
    
}
.li_select {
    font-weight:bold;
    color: #16306c;
}
.submenu {
    height:38px;
    background: linear-gradient(to right,#16306c, white);
    display: flex;
    justify-content: flex-end;
    align-items:center;
}
.design {
    height:60px;
    opacity: 80%;
    background-image: linear-gradient(45deg, #16306c, transparent);
}
.submenu_ul {
    display: flex;
    justify-content: flex-end;
    margin-right:17px;
    
}
.portfolio {
    border-right:none;
    font-style: weight;
}
main {
    background-image: url(../images/13.jpg);
    /* background-image: url(../images/icons/search.png); */
    /* color:red; */
    height: 736px;
    width: 100%;
    background-size:1280px 736px;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;
}

a{
    text-decoration: none;
}
.block_expertise, .block_word {
    display:flex;
}
.Main_block {
    margin-top:660px;
}
.title_for_background{
    color:white;
    font-size: 18px;
    margin-left: 27px;
    
}
.subtitle_for_background {
    color:white;
    font-size: 18px;
    margin-left:27px;
}
h1,h2,h3 {
    margin:0;
    padding:0;
    font-style: normal;
    font-weight: normal;
}
.cost,.hand{
    width:120px;
    height:120px;
}
.text_block_expertise,.text_block_word {
    width:360px;
    font-size:18px;
}
.stairs {
    width:205px;
    height:205px;
    margin-bottom: 21px;
}
.block_expertise,.block_word{
    margin-top:20px;
    margin-left: 27px;
}
.Subtitle {
    color:#16306c;
    margin-left: 27px;
    margin-bottom: 69px;
    font-size:38px;
}
.title_block_expertise, .title_block_word {
    color:#16306c;
    font-size:26px;
}

.Title {
    margin-left:27px;
}
.conclusion{
    width:1182px;
    font-size: 38px;
    margin-left: 27px;
}
.control1 {
    width:200px;
    height:200px;
    border-radius: 100px;
}
.control {
    display: flex;
    justify-content: space-evenly;
    margin-top:20px;
}
.slider{
    margin-left: 27px;
    
    display: flex;
}

.slide1,.slide3 {
    
    width: 388px;
    height:328px;
   
    margin-right: 20px;
    margin-bottom:20px;
    margin-top: 20px;
}
.slide1{
    background-image:url(../images/13.jpg);
    background-size:388px 328px;
}
.slide3{
    background-image:url(../images/18.jpg);
    background-size:388px 328px;
}
.slide2 {
    
    width:408px;
    height:410px;
    
    margin-right: 20px;
    margin-bottom: 20px;
}
.design2{
    height:60px;
    opacity: 80%;
    background-image: linear-gradient(45deg, #16306c, transparent);
}
.design3 {
    height:38px;
    background: linear-gradient(to right,#16306c, white);
    margin-top:2090px;
}
.paint {
    background-color:black;
    
}
footer{
    margin-top:20px;
}
.separator,.separator_end {
    border: 1px double #D4D4D4;
}
.separator_end{
    margin-bottom:53px;
}
.word_hand{
    margin-left:106px;
    margin-right:28px;
}
.word_cost {
    margin-left:37px;
    margin-right:59px;
    margin-bottom: 13px;
}
.ceo {
 margin-bottom:25px;
}
.colortext{
    color:#16306c;
}
.expertise_cost{
    margin-left:40px;
    margin-right:44px;
}
.expertise_hand{
    margin-left:66px;
    margin-right:35px;
}
.slide_color1 {
    font-size:32px;
}
.slide_color2 {
    font-size:20px;
    color:#16306c;
}
.slide_color3{
    font-size:20px;
}
.slide1,.slide3 {
    margin-top:40px;
    margin-bottom:67px;
}


.text_slide2{
    margin-top:28px;
}
.text_slide1, .text.slide3{
    margin-top:69px;
}


.arrow-left,.arrow-right{
    width:64px;
    height:67px;
    
}
.arrow-right{
    margin-left:300px;
}
.arrow-left,.arrow-right{
    margin-top:130px;
    
}
.arrow-left {
    margin-left:20px;
}
.text_slide1{
    margin-top:200px;
}
.text_slide3{
    margin-top:200px;
}

.super{
    font-weight: bold;
}
.main_header{
    margin-right:758px;
    border-right:none;
    color:white;
    font-weight: bold;
    font-size: 20px;
}