*{
    margin: 0;
    padding: 0;
}
p{
    padding: 0;
    margin:0;
}
body {
    color: white;
    font-family:Fira Sans;
    font-size: 14px;
    color:#333333;
    background-color: white;
}
.header {
    display:flex;
    justify-content: space-between;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}
.sign_up{
    height: 42px;
    margin-top: 51px;
    border: 1px solid #282828;
}
.sign_up, .post{
    position: relative;
    width: 116px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    color:#ffffff;
/* identical to box height */
letter-spacing: 0.05em;
/* Light */
}

.sign_up::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 100%;
    height: 100%;
    background: #0077A0c2;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}
.post {
    height:41px;
    border-bottom: 1px solid #282828;
    border-top: 1px solid #282828;
    border-right: 1px solid #282828;
    z-index:0;
}
.post::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 100%;
    height: 100%;
    background: #0077a0c2;
    transition: .25s ease;
    transform: translate(0, 0);
    z-index: -1;
}

.logo{
    margin-top: 55px;
    margin-left: 60px;
}
.wrapper {
    max-width: 1600px;
	margin:0px auto;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("../images/Ellipse.png");
    background-repeat: no-repeat;
    background-position:50% 0;
}
.log_in{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.05em;
    /* Dark */
    color: #282828;
    margin-right: 50px;
}
.main_contain {
    
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 181px;
}


.headline{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    /* identical to box height */
    letter-spacing: 0.25em;
    /* Dark */
    color: #282828;
    max-width:796px;
    margin-top:294px;
    
}
.subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.11em;
    /* Dark */
    color: #282828;
    margin-top: 58px;
    text-align: center;
    margin-bottom: 16px;

}
.form_submit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.e-mail {
    padding:10px;
    margin:10px 0;
    width: 289px;
    
}
.submit, .e-mail {
    font-family:inherit;
    font-size: inherit;
}
 
.footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
    margin-bottom: 50px;
}
@media (max-width: 4000px) {
    .profile{display:none;}
    }

@media (max-width: 1600px) {
    .profile{display:none;}
    }

@media (max-width: 1000px) {
    .profile{display:none;}
    .logo{margin-left: 20px;}
    }
@media(max-width:745px)
{   .profile{display:none;}
    .headline{font-size: 65px;}
}

@media (max-width: 640px) {
    .profile{display:none;}
    .wrapper{background-image:url("/images/Ellipse2.png")}
    .headline{font-size: 60px; margin-top: 210px;}
    }
@media (max-width:562px){
    .headline{ font-size:50px; text-align: center;line-height: 120%;}
    .subtitle{font-size: 19px;}
    .e-mail{width: 177px;}
    .profile{display:none;}
}
    
@media (max-width: 525px) {
    .log_in{display: none;}
    .sign_up{display:none; }
    .profile{display:block;margin-top: 55px; margin-right:10px;}
    .alignment{margin:0 auto};
    .headline{text-align: center; line-height: 0px; margin-top: 95px;}
    .footer{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right:0px;
    }
}

@media (max-width: 320px) {
    .log_in{display: none;}
    .sign_up{display:none; }
    .profile{display:block;margin-top: 55px;margin-right:10px;}
    .wrapper{background-image:url("/images/Ellipse4.png")}
    .alignment {margin: 0 auto;}
    .headline{ text-align: center;line-height: 120%;
    margin:0; margin-top: 95px;}
    .footer{
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-right:0px;
        }
    .e-mail {
        max-width: 177px;
        width:100%;
    }
}
@media(max-width:245px){
    .headline{font-size: 30px;}
    .profile{display:none;}
}




.twitter{
    margin-right: 27px;
}
.instagram{
    margin-right:27px;
}
.facebook{}

.alignment {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.active {
    background-color: #EF7F1A;
  }


.active::before{
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 100%;
    height: 100%;
    background-color:transparent;
    z-index: -1;
    transition: .25s ease;
    transform: translate(0, 0);
}