body {
    margin:0 auto;
    padding:0 auto;
    background-color:#FBCEB1;
    height:100%;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.site-title {
    text-align: center;
    font-size: 38px;
}
.lead {
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom:30px;

}
h4 {
    font-size:20px;
    font-weight:normal;
}

.card.mb-4 {
    background:#FAEEDD;
    border-radius: 30px;
    
    
}
.text-muted {
    font-size:16px;
    margin-bottom:0px;
}
.item-title {
    margin-bottom: 0px;
    font-size: 26px;
}

.items__control {
    color:#E32636;
    font-weight:bold;
    width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
    font-size: 26px;
}

.items__current{
    font-size: 26px;
}
.price_weight {
    font-size: 16px;
}

.price_currency{
    font-size: 16px;
}
.items.counter-wrapper {
    display:flex;
    justify-content: center;
    font-family: 'Merriweather', serif;
}
.details-wrapper{
    display:flex;
    flex-direction: column;
    
}
.shopping_cart {
    height:44px;
    font-size: 26px;
    margin-top:15px;
    margin-bottom:15px;
    font-size:1rem;
    width:100%;
    height:26px;
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
    background: #eb5a1e;
    color: #FFF;
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
	width: 90px;
	font-size: 16px;
	text-align: center;
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

.price {
	text-align: left;
}

.price__weight {
	color: #6c757d!important;
	font-size: 80%;
	line-height: 1;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.btn-outline-warning {
    color: #eb5a1e;
    border-color: #eb5a1e;
}

.btn-outline-warning:hover {
    color: #FFF;
    background-color: #eb5a1e;
    border-color: #eb5a1e;
}

.cart-item__top {
	display: flex;
	align-items: flex-start;
	padding-bottom: 40px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
    padding-top:50px;
}

.card-body {
    margin-left:30px;
}

.cart-item__img img {
	max-width: 100px;
	height: auto;
}

.cart-item__desc {
	padding-left: 15px;
}

.cart-item__title {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}

.cart-total {
	font-size: 18px;
	font-weight: 500;
}



.free {
	color: #0EA107;
}

.total-price {
	color: #EB5A1E;
}

.rouble {
	color: #EB5A1E;
}

.none {
	display: none;
}
.card-title {
    font-size:22px;
    padding-top:20px;
    padding-bottom: 20px;

}
.card-title1 {
    font-size:22px;
    padding-bottom: 20px;

}
.alert.alert-secondary {
    font-size:20px;
}
.form-control {
    
    display:block;
    margin-bottom:20px;
    height:calc(1.5em + 0.75rem + 2px);
    padding:0.375rem 0.75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#495057;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:0.25rem;
    transition:border-color .15s
}
.btn.btn-primary {
    height:44px;
    font-size:1rem;
    margin-bottom:15px;
    padding:0.375rem 0.75rem;
}
.little {
    font-size:12px;
}